body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-77px;
  width:967px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:17px;
  height:1005px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:193px;
  width:8px;
  height:996px;
  display:flex;
}
#u946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:64px;
  width:128px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u947 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u947_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:115px;
  height:11px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:259px;
  width:109px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.535458985564534deg);
  -moz-transform:rotate(-0.535458985564534deg);
  -ms-transform:rotate(-0.535458985564534deg);
  transform:rotate(-0.535458985564534deg);
}
#u948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
  text-align:left;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:242px;
  width:216px;
  height:42px;
  display:flex;
  color:#7F7F7F;
  text-align:left;
}
#u949 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u949_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:115px;
  height:11px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:392px;
  width:109px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.535458985564534deg);
  -moz-transform:rotate(-0.535458985564534deg);
  -ms-transform:rotate(-0.535458985564534deg);
  transform:rotate(-0.535458985564534deg);
}
#u950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
  text-align:left;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:374px;
  width:342px;
  height:42px;
  display:flex;
  color:#7F7F7F;
  text-align:left;
}
#u951 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u951_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:115px;
  height:11px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:526px;
  width:109px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.535458985564534deg);
  -moz-transform:rotate(-0.535458985564534deg);
  -ms-transform:rotate(-0.535458985564534deg);
  transform:rotate(-0.535458985564534deg);
}
#u952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
  text-align:left;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:508px;
  width:188px;
  height:42px;
  display:flex;
  color:#7F7F7F;
  text-align:left;
}
#u953 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u953_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:235px;
  width:51px;
  height:51px;
  display:flex;
}
#u954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:369px;
  width:51px;
  height:51px;
  display:flex;
}
#u955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:503px;
  width:51px;
  height:51px;
  display:flex;
}
#u956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:115px;
  height:11px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:659px;
  width:109px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.535458985564534deg);
  -moz-transform:rotate(-0.535458985564534deg);
  -ms-transform:rotate(-0.535458985564534deg);
  transform:rotate(-0.535458985564534deg);
}
#u957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
  text-align:left;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:641px;
  width:162px;
  height:42px;
  display:flex;
  color:#7F7F7F;
  text-align:left;
}
#u958 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u958_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:636px;
  width:51px;
  height:51px;
  display:flex;
}
#u959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:115px;
  height:11px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:793px;
  width:109px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.535458985564534deg);
  -moz-transform:rotate(-0.535458985564534deg);
  -ms-transform:rotate(-0.535458985564534deg);
  transform:rotate(-0.535458985564534deg);
}
#u960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
  text-align:left;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:764px;
  width:360px;
  height:63px;
  display:flex;
  color:#7F7F7F;
  text-align:left;
}
#u961 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u961_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:770px;
  width:51px;
  height:51px;
  display:flex;
}
#u962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:904px;
  width:51px;
  height:51px;
  display:flex;
}
#u963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:115px;
  height:11px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:927px;
  width:109px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.535458985564534deg);
  -moz-transform:rotate(-0.535458985564534deg);
  -ms-transform:rotate(-0.535458985564534deg);
  transform:rotate(-0.535458985564534deg);
}
#u964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
  text-align:left;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:898px;
  width:234px;
  height:63px;
  display:flex;
  color:#7F7F7F;
  text-align:left;
}
#u965 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:121px;
  width:300px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u966 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
